#particles-js canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: -1 !important;
  background-color: #000;
  background-size: cover;
  background-position: 100%;
}

.navbar {
  display: flex !important;
  justify-content: space-evenly !important;
  height: 49px !important;
}

.profile {
  width: 65% !important;
  margin: 3px auto !important;
  display: block !important;
  text-align: center !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.8;
}

html {
  height: 100%;
}

p.a {
  font-family: "Lucida Console", Monaco, monospace;
}

p.b {
  border-left: 5px solid #bdc3c7;
  padding-left: 10px;
  border-height: 5px;
}

b.a {
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.mySlides {
  display: none;
}

.research {
  display: none;
}

.researchcont {
  float: center;
  margin-left: 33.333%;
  margin-bottom: 32px;
}

#myNavbar {
  font-size: 1.2em;
}

.ui.menu {
  margin: 0% !important;
}

.aboutp {
  padding-top: 100px;
}

.bgimg-1 {
  position: relative;
  background-position: ;
  background-size: ;
  background-attachment: fixed;
  background: url("https://images.unsplash.com/photo-1514580426463-fd77dc4d0672?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=802c875bf67a4dcaf275e11b1fa48d24&auto=format&fit=crop&w=660&q=80");
}

.w3-display-container {
  position: relative;
  background: linear-gradient(#242222, transparent),
    url("https://images.unsplash.com/photo-1519893578517-3252b77e8fdf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=360a6f43b0507da46c0a9259c42fa265&auto=format&fit=crop&w=1649&q=80");
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#special:first-letter {
  font-size: 40px;
}

.centered {
  margin: 0px auto !important;
}

@media screen and (min-width: 1000px) {
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }

  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }

  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }

  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline > li:after {
    clear: both;
  }

  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline > li:after {
    clear: both;
  }

  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }

  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }

  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }

  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }

  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  .timeline-title {
    margin-top: 0;
    color: inherit;
  }

  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }

  .timeline-body > p + p {
    margin-top: 5px;
  }

  #about .left {
    margin-top: 6%;
  }

  #about .right {
    margin-top: 4%;
    padding: 0%;
  }
  #about .right p {
    font-size: 1.5em;
  }
  .card {
    width: 85%;
    margin: 5px auto;
  }
  .row {
    min-width: 50vh;
  }
  #cd-timeline {
    width: 100%;
    position: relative;
  }
  .cd-timeline-block-right {
    position: relative;
    left: 55%;
    width: 30%;
    text-align: left;
  }
  .cd-timeline-block-left,
  .cd-timeline-block-right {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 2%;
  }
  .cd-timeline-block-left {
    position: relative;
    text-align: right;
    /* right: 0%; */
    width: 30%;
    left: 16%;
  }
  .line {
    border-left: 8px solid rgba(0, 0, 0, 0.22);
    left: 50%;
    position: absolute;
    z-index: 136;
    height: 100%;
  }
  .cd-timeline-content p {
    text-align: justify;
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}
